################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pritam.Redis/bin/Debug/net6.0
/Pritam.Redis.Interface/bin/Debug/net6.0
/Tests/Pritam.Redis.Test/bin/Debug/net6.0
/Tests/Pritam.Redis.Test/obj/Debug/net6.0
/Tests/Pritam.Redis.Test/obj/InMemory.Cache.Test.csproj.nuget.dgspec.json
/Tests/Pritam.Redis.Test/obj/InMemory.Cache.Test.csproj.nuget.g.props
/Tests/Pritam.Redis.Test/obj/InMemory.Cache.Test.csproj.nuget.g.targets
/Tests/Pritam.Redis.Test/obj/InMemory.Database.Bridge.Test.csproj.nuget.dgspec.json
/Tests/Pritam.Redis.Test/obj/InMemory.Database.Bridge.Test.csproj.nuget.g.props
/Tests/Pritam.Redis.Test/obj/InMemory.Database.Bridge.Test.csproj.nuget.g.targets
/Tests/Pritam.Redis.Test/obj/project.assets.json
/Tests/Pritam.Redis.Test/obj/project.nuget.cache
/Tests/Pritam.Redis.Test/obj/Redis.Cache.Test.csproj.nuget.dgspec.json
/Tests/Pritam.Redis.Test/obj/Redis.Cache.Test.csproj.nuget.g.props
/Tests/Pritam.Redis.Test/obj/Redis.Cache.Test.csproj.nuget.g.targets
/Tests/Pritam.Redis.Test/obj/Redis.Test.csproj.nuget.dgspec.json
/Tests/Pritam.Redis.Test/obj/Redis.Test.csproj.nuget.g.props
/Tests/Pritam.Redis.Test/obj/Redis.Test.csproj.nuget.g.targets
/Pritam.Redis.Interface/obj/Debug/net6.0
/Pritam.Redis.Interface/obj/InMemory.Cache.Interface.csproj.nuget.dgspec.json
/Pritam.Redis.Interface/obj/InMemory.Cache.Interface.csproj.nuget.g.props
/Pritam.Redis.Interface/obj/InMemory.Cache.Interface.csproj.nuget.g.targets
/Pritam.Redis.Interface/obj/Pritam.Redis.Interface.csproj.nuget.dgspec.json
/Pritam.Redis.Interface/obj/Pritam.Redis.Interface.csproj.nuget.g.props
/Pritam.Redis.Interface/obj/Pritam.Redis.Interface.csproj.nuget.g.targets
/Pritam.Redis.Interface/obj/project.assets.json
/Pritam.Redis.Interface/obj/project.nuget.cache
/Pritam.Redis.Interface/obj/Redis.Interface.csproj.nuget.dgspec.json
/Pritam.Redis.Interface/obj/Redis.Interface.csproj.nuget.g.props
/Pritam.Redis.Interface/obj/Redis.Interface.csproj.nuget.g.targets
/Pritam.Redis/obj/Debug/net6.0
/Pritam.Redis/obj/InMemory.Cache.Redis.csproj.nuget.dgspec.json
/Pritam.Redis/obj/InMemory.Cache.Redis.csproj.nuget.g.props
/Pritam.Redis/obj/InMemory.Cache.Redis.csproj.nuget.g.targets
/Pritam.Redis/obj/Pritam.Redis.csproj.nuget.dgspec.json
/Pritam.Redis/obj/Pritam.Redis.csproj.nuget.g.props
/Pritam.Redis/obj/Pritam.Redis.csproj.nuget.g.targets
/Pritam.Redis/obj/project.assets.json
/Pritam.Redis/obj/project.nuget.cache
/Pritam.Redis/obj/Redis.Adapter.csproj.nuget.dgspec.json
/Pritam.Redis/obj/Redis.Adapter.csproj.nuget.g.props
/Pritam.Redis/obj/Redis.Adapter.csproj.nuget.g.targets
/Pritam.Redis/obj/Redis.Bridge.csproj.nuget.dgspec.json
/Pritam.Redis/obj/Redis.Bridge.csproj.nuget.g.props
/Pritam.Redis/obj/Redis.Bridge.csproj.nuget.g.targets
/Pritam.Redis/obj/Redis.Cache.csproj.nuget.dgspec.json
/Pritam.Redis/obj/Redis.Cache.csproj.nuget.g.props
/Pritam.Redis/obj/Redis.Cache.csproj.nuget.g.targets
/Pritam.Redis/obj/Redis.csproj.nuget.dgspec.json
/Pritam.Redis/obj/Redis.csproj.nuget.g.props
/Pritam.Redis/obj/Redis.csproj.nuget.g.targets
